# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\win_test_workspace\CodeGenerator\CodeGenerator\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
